MYSQL_HOST=dbserver                                  # Don't change it
MYSQL_USER=XXXX                                      # For example `userdb`
MYSQL_ROOT_PASSWORD=XXXX                             # For example `rootpass`
MYSQL_PASSWORD=XXXX                                  # For example `yourowndatabasepassword`
MYSQL_DATABASE=cnot_db                               # No need to change it but if you need you can
HTTPS_PORT=8076                                      # No need to change it but if you need you can
PHPMYADMIN_PORT=8074                                 # No need to change it but if you need you can
APP_PASSWORD=XXXX                                    # For example `yourownapppassword`
JOURNAL_NAME=XXXX                                    # For example `CnoT` - Provide your own app name
SERVER_NAME=XXXX                                     # Provide your server name
ENTRIES_DATA_PATH=XXXX                               # Provide your entries data path - For example 'C:\Users\tim\Desktop\cnot\ENTRIES_DATA' (don't forget the single quotes)
DB_DATA_PATH=XXXX                                    # Provide your db data path - For example 'C:\Users\tim\Desktop\cnot\DB_DATA' (don't forget the single quotes)
