# Provide a password for the MySQL root user - For example `rootpass`
MYSQL_ROOT_PASSWORD=XXXX

# Provide a username for the MySQL user - For example `userdb`
MYSQL_USER=XXXX

# Provide a password for the MySQL user - For example `yourowndatabasepassword`
MYSQL_PASSWORD=XXXX

# Your notes will be stored where you cloned the repository but if you need you can provide your entries own data path.
# For a Windows host for example 'C:\Users\user\Desktop\cnot\ENTRIES_DATA'
# For a Linux host for example '/home/user/cnot/ENTRIES_DATA'
ENTRIES_DATA_PATH='../ENTRIES_DATA'  # (don't forget the single quotes)

# Your database data will be stored where you cloned the repository but if you need you can provide your own database data path.
# For a Windows host for example 'C:\Users\user\Desktop\cnot\DB_DATA'
# For a Linux host for example '/home/user/cnot/DB_DATA'
DB_DATA_PATH='../DB_DATA'  # (don't forget the single quotes)

# No need to change it but if you need you can - Provide your own app name (default to `Cnot`)
JOURNAL_NAME=Cnot

# No need to change it but if you need you can
MYSQL_DATABASE=cnot_db